<div class="flex mb-5">
  <p-select
    [options]="users"
    optionLabel="name"
    [filter]="true"
    filterBy="name"
    [showClear]="true"
    placeholder="Select a user"
    class="w-full md:w-56 mr-5"
  >
    <ng-template #selectedItem let-selectedOption>
      <div class="flex items-center gap-2">
        <div>{{ selectedOption.name }}</div>
      </div>
    </ng-template>
    <ng-template let-user #item>
      <div class="flex items-center gap-2">
        <div>{{ user.name }}</div>
      </div>
    </ng-template>
  </p-select>
  <p-button label="Create payment" />
</div>
