<p-drawer [(visible)]="isVisible" header="Messages" position="right">
  <div class="flex flex-col gap-2">
    <p-card>
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et
        aliquam ipsum. Cras a semper erat. Sed at mauris ultrices, feugiat
        lectus congue, dapibus tellus. Maecenas rhoncus vehicula tortor nec
        convallis.
      </p>
    </p-card>
    <p-card>
      <p class="m-0">
        Nullam vestibulum lobortis consectetur. Nulla sed varius neque, at
        viverra tortor. Ut placerat consequat enim, sed posuere ipsum sagittis
        aliquam. Quisque eget dapibus diam, sed lacinia nisi.
      </p>
    </p-card>
    <p-card>
      <p class="m-0">
        Quisque lacus libero, ullamcorper quis maximus id, dictum eu diam.
      </p>
    </p-card>
    <p-card>
      <p class="m-0">
        Morbi augue velit, dictum at pulvinar euismod, aliquet vitae dolor. In
        tincidunt, orci sed cursus ornare, nibh tellus placerat neque, in
        tincidunt diam tortor sit amet lorem.
      </p>
    </p-card>
    <p-card>
      <p class="m-0">
        Sed eget lorem sollicitudin, condimentum quam id, aliquet massa.
        Phasellus orci turpis, venenatis ac ullamcorper id, placerat ac felis.
        Suspendisse eu elementum erat. Nam rutrum, lacus in accumsan iaculis
      </p>
    </p-card>
  </div>
</p-drawer>
