<div class="min-h-screen bg-crystal-blue flex justify-center items-center">
  <p-card header="Welcome">
    <form class="flex flex-col">
      <p-floatlabel variant="in">
        <input
          pInputText
          id="email"
          [formControl]="emailFormControl"
          autocomplete="off"
          required
        />
        <label for="email">Email</label>
      </p-floatlabel>

      <p-floatlabel variant="in">
        <input
          pInputText
          id="password"
          [formControl]="passwordFormControl"
          autocomplete="off"
          type="password"
          required
        />
        <label for="password">Password</label>
      </p-floatlabel>
      <p-button type="button" label="Login" pRipple (click)="signIn()" />
    </form>
  </p-card>
</div>
