<div class="flex flex-col w-full gap-4">
  <div class="flex gap-4">
    <ds-metric-card
      class="flex-auto"
      title="Price"
      unit="Per cubic meter"
      [value]="latestPrice$ | ngrxPush"
    />
    <ds-metric-card
      class="flex-auto"
      title="Today"
      unit="Cubic meter"
      [value]="todayConsumption$ | ngrxPush"
    />
    <ds-metric-card
      class="flex-auto"
      title="Weekly"
      unit="Cubic meter"
      [value]="weeklyConsumption$ | ngrxPush"
    />
    <ds-metric-card
      class="flex-auto"
      title="Monthly"
      unit="Cubic meter"
      [value]="monthlyConsumption$ | ngrxPush"
    />
    <ds-metric-card
      class="flex-auto"
      title="Tenant"
      unit="Count"
      [value]="usersCount$ | ngrxPush"
    />
  </div>
  <div class="flex gap-4 flex-col">
    <form [formGroup]="filterForm!" class="card flex gap-4">
      <p-floatlabel variant="on" class="w-full md:w-56" filter>
        <p-select
          formControlName="availableYears"
          inputId="in_label"
          [options]="availableYears"
          optionLabel="name"
          variant="filled"
          styleClass="w-full"
          (onChange)="filterYearHandler($event)"
        />
        <label for="in_label">Filter by year</label>
      </p-floatlabel>
      <p-floatlabel variant="on" class="w-full md:w-56" filter>
        <p-select
          #selectMonthInput
          inputId="in_label"
          [options]="availableMonths"
          optionLabel="name"
          variant="filled"
          styleClass="w-full"
          showClear
          (onChange)="filterMonthHandler($event)"
          (onClear)="clearFilterMonth()"
        />
        <label for="in_label">Filter by month</label>
      </p-floatlabel>
      <p-floatlabel variant="on" class="w-full md:w-56" filter>
        <p-select
          #selectTenantInput
          inputId="in_label"
          [options]="availableTenants"
          optionLabel="name"
          variant="filled"
          styleClass="w-full"
          showClear
          (onChange)="filterTenantHandler($event)"
          (onClear)="clearTenant()"
        />
        <label for="in_label">Filter by tenant</label>
      </p-floatlabel>
    </form>

    <ds-bar-chart [data]="basicData" class="flex-auto"> </ds-bar-chart>
  </div>
</div>
