<div class="flex flex-col w-full gap-4">
  <div class="flex gap-4">
    <ds-metric-card
      class="flex-auto"
      title="Price per m3"
      [value]="latestPrice$ | ngrxPush"
    />
    <ds-metric-card
      class="flex-auto"
      title="Today"
      unit="Cubic meter"
      [value]="todayConsumption$ | ngrxPush"
    />
    <ds-metric-card
      class="flex-auto"
      title="Weekly"
      unit="Cubic meter"
      [value]="weeklyConsumption$ | ngrxPush"
    />
    <ds-metric-card
      class="flex-auto"
      title="Monthly"
      unit="Cubic meter"
      [value]="monthlyConsumption$ | ngrxPush"
    />
  </div>
  <div class="flex gap-4">
    <ds-bar-chart [data]="basicData" class="flex-auto" title="Yearly" />
  </div>
</div>
